body
{
    margin: 0;
}

h1
{
    font-size: 2.4em;
}

h2
{
    font-size: 2.3em;
    margin-top: 0;
}

h3
{
    font-size: 1.7em;
}

h5
{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
}

p
{
    color: #011C40;
}
                    /* En tête (header) */
header
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-image: -o-repeating-linear-gradient(#E4EBF2, #3D90D9);
    background-image: repeating-linear-gradient(#E4EBF2, #3D90D9);
    height: 154px; 
    border-bottom: 1px dotted #E4EBF2;
}

#auteur
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#auteur h3
{
    color: #011C40;
    opacity: 0.5;
    margin: 0;
    padding-top: 65px;
}

#auteur img
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #3D90D9;
    -webkit-box-shadow: 5px 5px 10px #C7D2D9;
            box-shadow: 5px 5px 10px #C7D2D9;
    margin: 9px;
}

#menu
{
    height: 137px;
    border-radius: 0% 0% 10% 10%;
    background: -o-radial-gradient(ellipse, #C7D2D9, transparent);
    background: radial-gradient(ellipse, #C7D2D9, transparent);
    -webkit-box-shadow: 1px 5px 0px #3D90D9;
            box-shadow: 1px 5px 0px #3D90D9;
}

#menu h1
{
    margin-top: 10px;
    text-align: center;
    color: #011C40;
    text-shadow: 2px 2px 5px #011C40;
    opacity: 0.8;
}

#menu nav ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

#menu nav ul li a
{
    padding: 5px 25px 5px 25px;
    margin-left: 9px;
    margin-right: 9px;
    background-color: #C7D2D9;
    border-radius: 10%;
    border: 1px solid #E4EBF2;
    -webkit-box-shadow: 5px 5px 5px #3D90D9;
            box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
}

#menu nav ul li a:hover
{
    color: #011C40;
    background-color: rgba(61, 144, 217, 0.1);
    -webkit-box-shadow: 2px 2px 2px #C7D2D9;
            box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}

#menu nav ul li a:active
{
    border: none;
    -webkit-box-shadow: 3px 3px 10px #3D90D9 inset;
            box-shadow: 3px 3px 10px #3D90D9 inset;
}

#defaultLeft
{
    border-radius: 10% 10% 10% 25%;
}

#defaultRight
{
    border-radius: 10% 10% 25% 10%;
}
                    /* Pied de page (footer) */
footer
{
    background-image: -o-repeating-linear-gradient(#3D90D9, #E4EBF2);
    background-image: repeating-linear-gradient(#3D90D9, #E4EBF2);
    height: 100px;
    border-top: 1px dotted #E4EBF2;
}

footer nav
{
    margin: auto;
    width: 253.4px;
}

footer nav ul
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding: 0;
}

footer nav ul li a
{
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    color: #011C40;
}

footer nav ul li a:hover
{
    color: #E4EBF2;
    text-decoration: none;
}

footer p
{
    text-align: center;
    font-size: 0.8em;
    width: 313px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #E4EBF2;
}
                  /* --- Page Accueil(header) --- */
#headerHome h2
{
    font-size: 3em;
    margin-bottom: 40px;
}

#headerHome h3
{
    font-size: 2em;
    margin-bottom: 40px;
}

#headerHome h2, #headerHome h3
{
    color: #011C40;
    text-shadow: 10px 10px 15px #363844;
}

#headerHome img
{
    width: 100%;
}
                    
#headerHome div
{
    text-align: center;
    position: absolute;
    top: 25vw;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#headerHome a
{
    padding: 10px 40px 10px 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #C7D2D9;
    border-radius: 5%;
    border: 1px solid #E4EBF2;
    -webkit-box-shadow: 5px 5px 5px #3D90D9;
            box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
    font-size: 1.5em;
}

#headerHome a:hover
{
    color: #011C40;
    background-color: rgb(61, 144, 217);
    -webkit-box-shadow: 4px 4px 4px #C7D2D9;
            box-shadow: 4px 4px 4px #C7D2D9;
    text-decoration: none;
}

#headerHome a:active
{
    border: none;
    -webkit-box-shadow: 3px 3px 5px #011C40 inset;
            box-shadow: 3px 3px 5px #011C40 inset;
}
                  /* Page Accueil(presentation) */
#fontPresentation
{
    background-color: rgba(61, 144, 217, 0.6);
}

.presentation
{
    padding: 100px 50px 100px 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    vertical-align: center;
}

#fontPresentation p
{
    font-size: 1.2em;
    text-shadow: 3px 3px 3px #3D90D9;
    text-align: center;
    line-height: 30px;
    margin: auto 30px auto 30px;
    width: 600px;
    color: #011C40;
}

#fontPresentation a
{
    color: #3D90D9;
}

#fontPresentation a:hover
{
    text-decoration: none;
    color: #011C40;
    text-shadow: 4px 4px 4px black;
}

#fontPresentation img
{
    border-radius: 20%;
}

.separat1
{
    height: 70px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 144, 217, 0.45)), to(rgba(61, 144, 217, 0.6)));
    background-image: -o-linear-gradient(rgba(61, 144, 217, 0.45), rgba(61, 144, 217, 0.6));
    background-image: linear-gradient(rgba(61, 144, 217, 0.45), rgba(61, 144, 217, 0.6));
}

.separat2
{
    height: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(61, 144, 217, 0.6)), to(rgba(61, 144, 217, 0.45)));
    background-image: -o-linear-gradient(rgba(61, 144, 217, 0.6), rgba(61, 144, 217, 0.45));
    background-image: linear-gradient(rgba(61, 144, 217, 0.6), rgba(61, 144, 217, 0.45));
}

.fontPage h3
{
    margin-top: 0;
}
                /* --- Page Livre --- */
.fontPage
{
    background-color: rgba(61, 144, 217, 0.6);
    text-align: center;
}

.fontPage h2, .fontPage h3, .fontPage h4, .fontPage h5
{
    color: #363844;
    text-shadow: 4px 4px 15px #363844;
}

.fontPage article
{
    padding-bottom: 40px;
}

.fontPage article div.articleContent
{
    background-color: rgba(61, 144, 217, 0.2);
    -webkit-box-shadow: 10px 10px 10px rgba(61, 144, 217, 0.4) inset;
            box-shadow: 10px 10px 10px rgba(61, 144, 217, 0.4) inset;
    margin: auto 50px auto 50px;
    line-height: 35px;
    padding: 40px 70px 40px 70px;
}

.book a
{
    padding: 5px 25px 5px 25px;
    background-color: #C7D2D9;
    border-radius: 10%;
    border: 1px solid #E4EBF2;
    -webkit-box-shadow: 5px 5px 5px #3D90D9;
            box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
    position: relative;
    top: 8px;
}

.book a:hover
{
    color: #011C40;
    background-color: rgba(61, 144, 217, 0.1);
    -webkit-box-shadow: 2px 2px 2px #C7D2D9;
            box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}

.book a:active
{
    border: none;
    -webkit-box-shadow: 3px 3px 10px #3D90D9 inset;
            box-shadow: 3px 3px 10px #3D90D9 inset;
}
                /* --- Page Livre(comment) --- */
.comm
{
    margin: 0;
}

section article form
{
    padding-top: 50px;
    color: #011C40;
}

.comments a
{
    padding: 5px 25px 5px 25px;
    background-color: #C7D2D9;
    border-radius: 10%;
    border: 1px solid #E4EBF2;
    -webkit-box-shadow: 5px 5px 5px #3D90D9;
            box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
    position: relative;
    top: 8px;
}

.comments a:hover
{
    color: #011C40;
    background-color: rgba(61, 144, 217, 0.1);
    -webkit-box-shadow: 2px 2px 2px #C7D2D9;
            box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}

.comments a:active
{
    border: none;
    -webkit-box-shadow: 3px 3px 10px #3D90D9 inset;
            box-shadow: 3px 3px 10px #3D90D9 inset;
}
                /* --- Page Contact --- */
#formContact h2
{
    color: #363844;
    text-shadow: 10px 10px 15px #363844;
}

#formContact
{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

#name, #email, #subject
{
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    width: 450px;
    border-radius: 5%;
}

#formContact form textarea
{
    resize: none;
    margin-top: 30px;
    padding: 15px;
    width: 850px;
    height: 250px;
    border-radius: 2%;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
}

#name:focus, #email:focus, #subject:focus, #message:focus
{
    background: rgba(255, 255, 255, 0.8);
    outline: none;
    border: none;
}

.submit
{
    background-color: #C7D2D9;
    padding: 15px 50px;
    border-radius: 5%;
    border: 1px solid #E4EBF2;
    -webkit-box-shadow: 5px 5px 5px #3D90D9;
            box-shadow: 5px 5px 5px #3D90D9;
    color: #3D90D9;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
}

.submit:hover
{
    color: #011C40;
    background-color: rgb(61, 144, 217);
    -webkit-box-shadow: 2px 2px 2px #C7D2D9;
            box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}

.submit:active
{
    outline: none;
    border: none;
    -webkit-box-shadow: 3px 3px 5px #011C40 inset;
            box-shadow: 3px 3px 5px #011C40 inset;
}
                /* --- Page Contact --- */
#formConnect
{
    padding: 150px 0px 150px 0px;
}
                /* --- Pages Administration --- */
#editorTiny
{
    height: 700px;
}

.formTiny
{
    margin: 0px 100px 0px 100px;
}

.postModif a, .commentsSignal a, .commentsUp a
{
    padding: 5px 25px 5px 25px;
    background-color: #C7D2D9;
    border-radius: 10%;
    border: 1px solid #E4EBF2;
    -webkit-box-shadow: 5px 5px 5px #3D90D9;
            box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
}

.postModif a:hover, .commentsSignal a:hover, .commentsUp a:hover
{
    color: #011C40;
    background-color: rgba(61, 144, 217, 0.1);
    -webkit-box-shadow: 2px 2px 2px #C7D2D9;
            box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}

.postModif a:active, .commentsSignal a:active, .commentsUp a:active
{
    border: none;
    -webkit-box-shadow: 3px 3px 10px #3D90D9 inset;
            box-shadow: 3px 3px 10px #3D90D9 inset;
}

.postModif h3 + a, .postModif h3 + a + a
{
    position: relative;
    bottom: 10px;
} 

.postModif div + a
{
    position: relative;
    top: 8px;
}

.commentsSignal a, .commentsUp a
{
    position: relative;
    bottom: 10px;
}

.deco
{
    position: relative;
    bottom: 30px;
}
                /* --- Responsive --- */
@media all and (max-width: 1200px)
{
    #headerHome h2, #headerHome h3
    {
        margin: 0px 30px 50px 30px;
    }
}

@media all and (max-width: 1024px)
{
    #fontPresentation img
    {
        height: 200px;
    }

    #formContact form textarea
    {
        width: 370px;
    }

    .formTiny
    {
        margin: 0 50px 0px 50px;
    }
}

@media all and (max-width: 768px)
{
    header
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 180px;
    }

    #menu
    {
        font-size: 70%;
        height: 80px;
    }

    #menu nav ul
    {
        margin-top: 0;
    }

    #auteur img
    {
        width: 80px;
        height: 80px;
    }

    #auteur
    {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #auteur h3
    {
        padding-top: 0;
    }

    #headerHome div
    {
        top: 300px;
    }

    #headerHome h2
    {
        font-size: 2.4em;
        margin-bottom: 20px;
    }

    #headerHome h3
    {
        font-size: 1.5em;
    }

    #headerHome img
    {
        height: 450px;
    }

    #headerHome a
    {
        padding: 5px 20px 5px 20px;
        margin-right: 2px;
        margin-left: 2px;
        font-size: 1em;
    }

    .presentation
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 40px;
    }

    #fontPresentation p
    {
        font-size: 1em;
        width: auto;
    }

    .fontPage article div
    {
        padding: 20px 30px 20px 30px;
    }

    #formContact
    {
        padding-top: 0;
    }

    #name, #email, #subject
    {
        width: 300px;
    }

    .formTiny
    {
        margin: 0px 20px 0px 20px;
    }

}

@media all and (max-width: 425px)
{
    #menu
    {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 0%;
        -webkit-box-shadow: 0px 3px 0px #3D90D9;
                box-shadow: 0px 3px 0px #3D90D9;
        width: 100%;
    }

    .fontPage article div
    {
        padding: 15px 20px 15px 20px;
        margin: auto 20px auto 20px;
    }

    h1
    {
        font-size: 2em;
    }

    #menu nav ul li a
    {
        padding: 3px 15px 3px 15px;
        margin-left: 3px;
        margin-right: 3px;
    }
    
    #defaultLeft
    {
        border-radius: 10%;
    }

    #defaultRight
    {
        border-radius: 10%;
    }

    #headerHome div
    {
        top: 250px;
    }

    #headerHome h2
    {
        font-size: 1.9em;
    }

    #headerHome h3
    {
        font-size: 1.3em;
    }

    .presentation
    {
        padding: 0px 10px 20px 10px;
    }

    #fontPresentation p
    {
        margin: auto;
    }

    #formContact form textarea
    {
        width: 270px;
        height: 250px;
    }

    #name, #email, #subject
    {
        width: 220px;
    }
}