body
{
    margin: 0;
}
                    /* En tête (header) */
header
{
    display: flex;
    justify-content: space-around;
    background-image: repeating-linear-gradient(#E4EBF2, #3D90D9);
    height: 154px;
    border-bottom: 1px dotted #E4EBF2;
}

#auteur
{
    display: flex;
}

h4
{
    color: #011C40;
    opacity: 0.5;
    margin: 0;
    padding-top: 60px;
}

#auteur img
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #3D90D9;
    box-shadow: 5px 5px 10px #C7D2D9;
    margin: 9px;
}

header div h1
{
    text-align: center;
    margin: 0;
    margin-top: 30px;
    color: #011C40;
    opacity: 0.8;
}

header nav ul
{
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

header nav ul li a
{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #C7D2D9;
    border-radius: 5%;
    border: 1px solid #E4EBF2;
    box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
}

header nav ul li a:hover
{
    color: #011C40;
    box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}
                    /* Pied de page (footer) */
footer
{
    background-image: repeating-linear-gradient(#3D90D9, #E4EBF2);
    height: 100px;
    border-top: 1px dotted #E4EBF2;
}

#sociaux
{
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
}

#facebook, #twitter, #instagram
{
    width: 3%;
}

footer nav ul
{
    display: flex;
    list-style-type: none;
    width: 357px;
    margin: auto;
    padding: 0;
}

footer nav ul li a
{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #011C40;
}

footer nav ul li a:hover
{
    color: #E4EBF2;
    text-decoration: none;
}

footer p
{
    font-size: 0.8em;
    width: 313px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #E4EBF2;
}
                    /* Fond des pages */
.blocPage
{
    background-image: url("../images/fondEcran.jpg");
    width: 100%;
    height: 1000px;
}

.container
{
    background-color: rgba(199, 210, 217, 0.4);
    height: 1000px;
    width: 100%;
}
                    /* Page Accueil */
