body
{
    margin: 0;
}
                    /* En tête (header) */
header
{
    display: flex;
    justify-content: space-around;
    background-image: repeating-linear-gradient(#E4EBF2, #3D90D9);
    height: 154px; 
    border-bottom: 1px dotted #E4EBF2;
}

#auteur
{
    display: flex;
}

h4
{
    color: #011C40;
    opacity: 0.5;
    margin: 0;
    padding-top: 60px;
}

#auteur img
{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #3D90D9;
    box-shadow: 5px 5px 10px #C7D2D9;
    margin: 9px;
}

header #auteur + div
{
    height: 137px;
    border-radius: 0% 0% 10% 10%;
    background: radial-gradient(ellipse, #C7D2D9, transparent);
    box-shadow: 0px 5px #3D90D9;
}

header div h1
{
    margin-top: 10px;
    text-align: center;
    color: #011C40;
    opacity: 0.8;
}

header nav ul
{
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
}

header nav ul li a
{
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #C7D2D9;
    border-radius: 5%;
    border: 1px solid #E4EBF2;
    box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
}

header nav ul li a:hover
{
    color: #011C40;
    box-shadow: 2px 2px 2px #C7D2D9;
    text-decoration: none;
}

#defaultLeft
{
    border-radius: 0% 0% 0% 30%;
}

#defaultRight
{
    border-radius: 0% 0% 30% 0%;
}
                    /* Pied de page (footer) */
footer
{
    background-image: repeating-linear-gradient(#3D90D9, #E4EBF2);
    height: 100px;
    border-top: 1px dotted #E4EBF2;
}

#sociaux
{
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
}

#facebook, #twitter, #instagram
{
    width: 3%;
}

footer nav ul
{
    display: flex;
    list-style-type: none;
    width: 357px;
    margin: auto;
    padding: 0;
}

footer nav ul li a
{
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #011C40;
}

footer nav ul li a:hover
{
    color: #E4EBF2;
    text-decoration: none;
}

footer p
{
    font-size: 0.8em;
    width: 313px;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    color: #E4EBF2;
}
                  /* Page Accueil */
#headerHome h2
{
    font-size: 3em;
    margin-bottom: 120px;
}

#headerHome h3
{
    font-size: 2em;
    margin-bottom: 200px;
}

#headerHome h2, #headerHome h3
{
    color: #363844;
    text-shadow: 12px 12px 12px #363844;
}

#headerHome img
{
    position: relative;
    max-width: 100%;
}
                    
#headerHome div
{
    text-align: center;
    position: absolute;
    top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

#headerHome a
{
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #C7D2D9;
    border-radius: 5%;
    border: 1px solid #E4EBF2;
    box-shadow: 5px 5px 5px #3D90D9;
    text-decoration: none;
    color: #3D90D9;
    font-size: 1.5em;
}

#headerHome a:hover
{
    color: #011C40;
    box-shadow: 4px 4px 4px #C7D2D9;
    text-decoration: none;
}

#fontPresentation
{
    background-color: rgba(61, 144, 217, 0.3);
}

.presentation
{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

#fontPresentation p
{
    font-size: 1.2em;
    text-shadow: 3px 3px 3px #3D90D9;
    text-align: center;
    line-height: 30px;
    max-width: 45%;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    color: #011C40;
}

#fontPresentation a
{
    color: #3D90D9;
}

#fontPresentation a:hover
{
    text-decoration: none;
    color: #011C40;
    text-shadow: 4px 4px 4px black;
}

#fontPresentation img
{
    margin-left: 50px;
    border-radius: 20%;
}